<!-- 
      ##TODO##
  Side navigation from w3schools
-->
<div class="sidenav">
  <a href="{% url 'home_page' %}">Fogadó</a>
  <a href="#">Aréna</a>
  <a href="#">Fegyverbolt</a>
  <a href="#">Varázsbolt</a>
  <a href="{% url 'profile' user_id=request.user.id %}">Karakter</a>
  <a href="{% url 'public_chat' %}">Beszélgetés</a>
  <a href="{% url 'search' %}">Hősök csarnoka</a>
  <a href="{% url 'team:user_team_view' %}">Csapat</a>
  <a href="{% url 'private_chat:private_chat_room' %}">Levelek</a>
  <a href="{% url 'logout' %}">Logout</a>
</div>

<!-- Page content 
<div class="main">
  ...
</div>-->