{% extends 'base.html' %}


{% block content %}

<div class="main">
	<div id="team-details">
	Id {{team.id}}
	<h1>{{team.name}}</h1>
	<h3>{{team.description}}</h3>
	Csapattagok: 
	{% for member in team_members %}
		{{member.username}} 
	{% endfor %}
	</div>
	<div id="join-or-leave-section">
		{% if is_own_team %}
			<button id="leave-team-button" onclick="leaveTeam('{{user_id}}')">Csapat elhagyása</button>
		{% else %}
			<button id="join-team-button" onclick="joinTeam('{{user_id}}', '{{team.id}}')">Csatlakozás</button>

		{% endif %}
		<div id="error-field">

		</div>
	</div>
</div>

<script type="text/javascript">


	function joinTeam(userId, teamId){
		console.log("joining team...")
		if ('{{has_team}}' == 'True'){
			console.log("amíg csapatod van nem csatlakozhatsz")
			var divError = document.getElementById("error-field")
			divError.innerHTML = "Nem csatlakozhatsz amíg másik csapat tagja vagy"
		}
		else{
			console.log("JOIN TEAM")
			payload = {
				"csrfmiddlewaretoken": "{{csrf_token}}",
				"user_id": userId,
				"team_id": teamId,
			}
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "{% url 'team:join_team' %}",
				data: payload,
				timeout: 5000,
				success: function(response) {
					console.log('success')
					location.reload()

				},
				error: function(response) {
					console.log('error')
				},
			})
		}
	}




	function leaveTeam(userId){
	console.log('leaving team...')
	payload = {
		"csrfmiddlewaretoken": "{{csrf_token}}",
		"user_id": userId,
	}
	$.ajax({
		type: "POST",
		dataType: "json",
		url: "{% url 'team:leave_team' %}",
		data: payload,
		timeout: 5000,
		success: function(response){
			console.log('success')
			if (response.team_is_deleted)
				location.href = "{% url 'team:user_team_view' %}"
			else{
				location.reload()
			}
		},	
		error: function(response){
			console.log('error at ajax team_page')
		},

	})
}



</script>


{% endblock %}