{% extends 'base.html' %}

{% load static %}

{% block content %}

<style type="text/css">
	.chat-log {
		height: 500px;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 10px;
		background-color: #fff;
		font-size: 0.9em;
		flex-direction: column-reverse;
	}
	.chat-message-input-container{
		outline: none;
		box-shadow: none;
	}
	.chat-message-input{
		outline: none;
		border: 1px solid #fff;
		border-top: 2px solid var(--main-background-color);
		
	}
	.message-container{
		margin-top: 10px;
		justify-content: start;
	}
	.username-span{
		font-weight: 600;
		margin-top: 0px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
	}
	.friend-message-span{
		font-weight: 380;
		margin-top: 0px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
		font-size: 0.6em;
		color: var(--light-primary-text-color);
	}
	.timestamp-span{
		font-weight: 400;
		font-size: 0.8em;
		color: var(--secondary-text-color);
	}
	.timestamp-span:hover{
		cursor: pointer;
	}
	.msg-p{
		font-weight: 450;
		margin-top: 5px;
		margin-bottom: auto;
		margin-left: 5px;
		margin-right: 5px;
		white-space: normal;
		-ms-word-break: break-all;
		word-break: break-all;
	}
	.profile-image{
		width: 33px;
		height: 33px;
		margin-top: 0px;
		margin-bottom: auto;
	}
	.profile-image-small{
		width: 25px;
		height: 25px;
		margin-top: 0px;
		margin-bottom: auto;
		margin-right: 5px;
	}
	.profile-image:hover{
		cursor: pointer;
	}
	.profile-image-small:hover{
		cursor: pointer;
	}
	.username-span:hover{
		cursor: pointer;
	}
	.material-icons:hover{
		cursor: pointer;
	}
	.card {
		border-radius: 12px;
	}
	
	#id_chatroom_loading_spinner{
		position: absolute;
	}
	.friend-container:hover{
		background: var(--main-background-color);
		cursor: pointer;
	}
	.friends-list-container{
		max-height: 500px;
		overflow-y: scroll;
	}
</style>



<div class="main">
	<div id="team-details">
	Id {{team.id}}
	<h1>{{team.name}}</h1>
	<h3>{{team.description}}</h3>
	Csapattagok: 
	{% for member in team_members %}
		{{member.username}} 
	{% endfor %}
	</div>
	<div id="join-or-leave-section">
		{% if is_own_team %}
			<button id="leave-team-button" onclick="leaveTeam('{{user_id}}')">Csapat elhagyása</button>
		{% else %}
			<button id="join-team-button" onclick="joinTeam('{{user_id}}', '{{team.id}}')">Csatlakozás</button>

		{% endif %}
		<div id="error-field">

		</div>
	</div>
	<!-- CHAT RÉSZ -->
	{% if is_own_team %}
		<div class="container">
			<div class="row">
				<div class="col-sm-9 m-0 p-2">
					<div class="card" id="id_chatroom_card">
						<!-- card header-->
						<div class="d-flex flex-row align-items-center card-header" id="id_room_title">
						<a class="d-flex flex-row" target="_blank" id="id_user_info_container">
							<img class="profile-image rounded-circle img-fluid" id="id_other_user_profile_image" src="{% static 'images/blank_profile_image.png' %}">
							<h3 class="ml-2" id="id_other_username"></h3>
						</a>
						
						</div>
						<!-- card body -->
						<div class="card-body p-1">
							<div class="d-flex flex-column" id="id_chat_log_container">
							
								<div class="d-flex flex-row justify-content-center" id="id_chatroom_loading_spinner_container">
									<div class="spinner-border text-primary"  id="id_chatroom_loading_spinner" role="status"  style="display: none; ">
										<span class="sr-only">Loading...</span>
									</div>
								</div>
								<div class="d-flex chat-log" id="chat_messages_id">
									
								</div>
								<span class="{% if not debug_mode %}d-none{% endif %} page-number" id="id_page_number">1</span>
								
								<!-- input for message -->
								<div class="d-flex flex-row chat-message-input-container">
									<textarea class="flex-grow-1 chat-message-input" id="send-message-textarea_id"></textarea>
									<button class="btn btn-primary chat-message-submit-button">
										<span id="send-message-submit_id" class="material-icons">send
										</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endif %}
</div>

<script type="text/javascript">


	function joinTeam(userId, teamId){
		console.log("joining team...")
		if ('{{has_team}}' == 'True'){
			console.log("amíg csapatod van nem csatlakozhatsz")
			var divError = document.getElementById("error-field")
			divError.innerHTML = "Nem csatlakozhatsz amíg másik csapat tagja vagy"
		}
		else{
			console.log("JOIN TEAM")
			payload = {
				"csrfmiddlewaretoken": "{{csrf_token}}",
				"user_id": userId,
				"team_id": teamId,
			}
			$.ajax({
				type: "POST",
				dataType: "json",
				url: "{% url 'team:join_team' %}",
				data: payload,
				timeout: 5000,
				success: function(response) {
					console.log('success')
					location.reload()

				},
				error: function(response) {
					console.log('error')
				},
			})
		}
	}




	function leaveTeam(userId){
	console.log('leaving team...')
	payload = {
		"csrfmiddlewaretoken": "{{csrf_token}}",
		"user_id": userId,
	}
	$.ajax({
		type: "POST",
		dataType: "json",
		url: "{% url 'team:leave_team' %}",
		data: payload,
		timeout: 5000,
		success: function(response){
			console.log('success')
			if (response.team_is_deleted)
				location.href = "{% url 'team:user_team_view' %}"
			else{
				location.reload()
			}
		},	
		error: function(response){
			console.log('error at ajax team_page')
		},

	})
}

// CHAT RÉSZ ----------------------------------

	var teamSocket = null;
	var roomId = null; // team_id

	onStart()

	function onStart(){
		console.log("room_id : {{team.id}}")}
		roomId = {{team.id}}
		setupWebsocket(roomId)

	function closeWebsocket(){
		if(teamSocket != null){
			teamSocket.close()
			teamSocket = null
			clearChatMessage()
			setPageNumber("1")
			disableChatMessageScrollListener()
		}
	}


	function setupWebsocket(room_id){
		console.log('open WebSocket ' + room_id)

		roomId = room_id

		closeWebsocket()
		// WEBSOCKET BEÁLLÍTÁS FOLYAMATA KEZDETE //

		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

		if ("{{ debug_mode }}")
			var ws_path = ws_scheme + "://" + window.location.host + "/team/" + roomId + "/"; // fejlesztéshez
		else
			var ws_path = ws_scheme + "://" + window.location.host + ":8001/team/" + roomId + "/"; // élesben

		// websocket beállítás
		teamSocket = new WebSocket(ws_path)

		// websocket megnyitása
		teamSocket.onopen = function(event) {
			console.log("Connection successfully created");

		};

		// felhasználó beléptetése az adott szobába miután a socket kapcsolat létrejött
		teamSocket.addEventListener("open", function(event) {
			if ("{{request.user.is_authenticated}}"){
				teamSocket.send(JSON.stringify({
					"command": "join",
					"room_id": roomId,
				}))
			}
		})

		// bejövő üzeneket kezelése a consumertől
		teamSocket.onmessage = function(event) {
			console.log("Data received from the server: ", event.data);
			var data = JSON.parse(event.data)


			// üzenet típus ellenőrzése

			if (data.error){ // az error a consumerstől jön ha üres az üzenet
				console.log(data.message)
			}

			if (data.join){
				console.log(data.username, " joined the room")
				getTeamMessages()
				enableChatMessageScrollListener()

			}

			if (data.leave){
				console.log(data.username, " leaved the room")
			}

			if (data.message_type == 0){
				appendChatMessage(data, false, true)
			}
			else if (data.message_type == 3 || data.message_type == 4){
				//showUserIsOnline(data)
				console.log('join.chat or leave.chat')
			}

			if (data.message_packet){
				handleSendPreviousMessagesPayload(data.messages, data.load_page_number)
			}
		};


		// hibaüzenetek kiírása
		teamSocket.onerror = function(event) {
			console.log("Error: ", event.message);
		};


		// websocket bezárása
		teamSocket.onclose = function(event) {
			if (event.wasClean){
				console.log("Connection closed");
			}
			else {
				console.log("Connection died.");
			}
		};
	}




	// ÜZENET KÜLDÉS KEZDETE //

	{% if is_own_team%} // ha nem a csapatat nezi ez a resz nem tud mukodni mivel nincs mit beallitani

	document.getElementById("send-message-textarea_id").focus();

	document.getElementById("send-message-textarea_id").onkeyup = function(event) {
		if (event.keyCode == 13 && event.shiftKey){
			// új sor, küldés nélkül, textarea automatikusan kezeli
		}
		else if (event.keyCode == 13 && !event.shiftKey){
			document.getElementById("send-message-submit_id").click();
		}
	}


	document.getElementById("send-message-submit_id").onclick = function(event) {
		var rawInputMessage = document.getElementById("send-message-textarea_id"); 	// html formátum
		var message = rawInputMessage.value;										// a bevitt szöveg

		// üzenet küldése a consumernek, receive_json hívódik meg a consumerben
		// https://www.w3schools.com/js/tryit.asp?filename=tryjson_stringify
		teamSocket.send(JSON.stringify({
			"command": "send",
			"message": message,
			"room_id": roomId,
		}))
		rawInputMessage.value = "";
	}
	{% endif %}
	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //




	function clearChatMessage(){
		document.getElementById("chat_messages_id").innerHTML = ""
	}


	// CHAT ÜZENETEK BETÖLTÉSE KEZDETE //
	
	var teamChatPageNumber = 1;

	function setPageNumber(pageNumber, loadedAllMessages){ // loadedAllMessages igaz, hogyha betöltötte az összes üzenetet és már nincs mit lekérdezni
		if (loadedAllMessages){
			teamChatPageNumber = -1
		}
		else {
			teamChatPageNumber = pageNumber
		}

		document.getElementById("id_page_number").innerHTML = teamChatPageNumber
		console.log(teamChatPageNumber)
	}


	function getTeamMessages(){
		let pageNumber = teamChatPageNumber
		if (pageNumber != -1){
			setPageNumber(-1, false) // a lekérdezés és betöltés folyamatban van
			teamSocket.send(JSON.stringify({
				"command": "get_team_messages",
				"room_id": roomId,
				"page_number": pageNumber
			}))
		}
	}


	// send_previous_messages_payload kezelése(load_messages publicban)
	function handleSendPreviousMessagesPayload(messages, loadPageNumber) {
		if(messages != null && messages != "undefined" && messages != "None"){
			setPageNumber(loadPageNumber, false)
			messages.forEach(function(message){ //foreach, minden iterationben meghivodik ez a fgv
				appendChatMessage(message, true, false) // tartsa a pozicíót, nem új üzenet
			})
		}
		else{
			setPageNumber(-1, true)
		}
	}


	function chatMessageScrollListener(e) {
		var chatMessage = document.getElementById("chat_messages_id")
		if ((Math.abs(chatMessage.scrollTop) + 2) >= (chatMessage.scrollHeight - chatMessage.offsetHeight)) {
			getTeamMessages()
		}
	}

	/*
		Enable the function "chatLogScrollListener"
	*/
	function enableChatMessageScrollListener(){
		document.getElementById("chat_messages_id").addEventListener("scroll", chatMessageScrollListener);
	}
	
	/*
		Disable the function "chatLogScrollListener"
	*/
	function disableChatMessageScrollListener(){
		document.getElementById("chat_messages_id").removeEventListener("scroll", chatMessageScrollListener)
	}




	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //


// CHAT ÜZENETEK MEGJELENÍTÉSE KEZDETE // 

	function appendChatMessage(data, maintainPosition, isNewMessage){
		userId = data["user_id"]
		usernameReceived = data["username"]
		message_type = data["message_type"]
		message_id = data["message_id"]
		message = data["message"]
		profile_image = data["profile_image"]
		sendingTime = data["sending_time"]

		var msg = message + "\n";
		var username = usernameReceived + ": "; 

		createChatMessageElement(userId, username, message_id, msg, profile_image, sendingTime, maintainPosition, isNewMessage);
	}



	function createChatMessageElement(userId, username, message_id, message, profile_image, sendingTime, maintainPosition, isNewMessage){
	var chatMessage = document.getElementById("chat_messages_id");


	var chatMessage = document.getElementById("chat_messages_id");

		var newMessageDiv = document.createElement("div")
		newMessageDiv.classList.add("d-flex")
		newMessageDiv.classList.add("flex-row")
		newMessageDiv.classList.add("message-container") //css
		//ezeket lehet 1 sorba is hozzaadni

		var profileImage = document.createElement("img")
		profileImage.addEventListener("click", function(evenet){
			selectUser(userId)
		})
		profileImage.classList.add("profile-image")
		profileImage.classList.add("rounded-circle")
		profileImage.classList.add("img-fluid")
		profileImage.src = "{% static 'images/blank_profile_image.png' %}"
		var profileImageId = "profile_image_id" + message_id 
		profileImage.id = profileImageId
		newMessageDiv.appendChild(profileImage)


		var div1 = document.createElement("div")
		div1.classList.add("d-flex")
		div1.classList.add("flex-column")


		var div2 = document.createElement("div")
		div2.classList.add("d-flex")
		div2.classList.add("flex-row")

		var usernameSpan = document.createElement("span")
		usernameSpan.addEventListener("click", function(evenet){
			selectUser(userId)
		})
		usernameSpan.classList.add('username-span')
		usernameSpan.innerHTML = username
		div2.appendChild(usernameSpan)

		// sending_time hozzáadása

		var sendingTimeSpan = document.createElement("span")

		sendingTimeSpan.innerHTML = sendingTime
		sendingTimeSpan.classList.add("sendingTimeSpanClass")
		sendingTimeSpan.classList.add("d-flex")
		sendingTimeSpan.classList.add("align-items-center")

		sendingTimeSpan.classList.add("sentMessagesTime")


		div2.appendChild(sendingTimeSpan)

		div1.appendChild(div2)

		var msgP = document.createElement("p")
		msgP.innerHTML = message
		msgP.classList.add("msg-p")
		div1.appendChild(msgP)

		newMessageDiv.appendChild(div1)


		if(isNewMessage){
			chatMessage.insertBefore(newMessageDiv, chatMessage.firstChild)
		}
		else {
			chatMessage.appendChild(newMessageDiv)
		}

		if(!maintainPosition){
			chatMessage.scrollTop = chatMessage.scrollHeight
		}

		loadProfilePicture(profile_image, profileImageId) // profile_image az input

	}

	function selectUser(userId){
		var url = "{% url 'profile' user_id=7347328438423 %}".replace("7347328438423", userId);
		var win = window.open(url, "_self")
		win.focus()
	}

	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //



	// ALAPÉRTELMEZETT ÉS AZ IGAZI PROFILKÉP BETÖLTÉSE ASZINKRON MÓDON //

	function setProfilePicture(imageSource, elementId) {
		// beállítja az igazi profilképet
		let image = document.getElementById(elementId)
		image.src = imageSource
	}


	function loadProfilePicture(imageSource, profileImageId){
		// profilkép betöltését indítja el
		var profileImageLoader = new Image()
		profileImageLoader.src = imageSource

		if (!profileImageLoader.complete){
			profileImageLoader.onload = function(){
				// beállítja az alapértelmezett profilképet
				setProfilePicture(profileImageLoader.src, profileImageId)
				profileImageLoader.onload = function(){
					// pass
				}
			}
		}
		else{
			setProfilePicture(profileImageLoader.src, profileImageId)
			profileImageLoader.onload = function() {
				// pass
			}
			}
		}
	
	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //

</script>


{% endblock %}