{% extends 'base.html' %}

{% block content %}

<!-- AJAXHOZ KELL JQUERY IMPORT -->
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>


<style>

#initial {
	display: block	;
}

#after-initial {
	display: none;
}

#error-message {
	display: block;
}

#individual-team-page{
	display: block;
}

#teams-list{
	display: none;
}


#teams-list p{
	display: inline-block;
}


#team-paragh:hover{
	color: red;
	cursor: pointer;
}

</style>



<div class="main">
	<div id="individual-team-page">
	{% if has_team %}
	<!-- REDIRECT TO TEAM PAGE-->
	<!--
		<h1>{{team_name}}</h1>
		<h4>{{team_description}}</h4>
		<p>Csapattagok: 
			{% for member in team_members %}
				{{member.username}}
			{% endfor %}
		</p>

		<h5>{{user_id}}</h5>

		<button onclick="leaveTeam('{{user_id}}')">Csapat elhagyása</button>
	-->
	{% else %}
		<div id="initial">
		<h2>Jelenleg nincs csapatod</h2>

		<button name="create-team-button" onclick="showCreateTeamForm()">Csapat létrehozása</button>
		<button name="join-team-button" onclick="showTeams()">Csatlakozás egy csapathoz</button>
		</div>
		<div id="after-initial">
			<br>
			<!-- Csak akkor jelenjen meg, hogyha rányomtunk egy gombra --> 
			<form method="POST" action="" id="create-form">
				{%csrf_token%}
				{{form.as_p}}
		 		<button type="submit" value="Add team">Csapat létrehozása</button>
			</form>
		</div>
		<div id="error-message">
		{% if not is_valid %}
			<p>Hiba! Próbálj meg egy másik csapatnevet! </p>
		{% endif %}
		</div>
	{% endif %}
	</div>

	<!-- TEAM LIST -->
	<div id="teams-list">
		<p>Csapatok</p>
		{% for team in teams %}
			<h3><p id="team-paragh" onclick="selectTeam('{{team.id}}')">{{team.name}}</p></h3>
		{% endfor %}
	</div>
</div>


<script type="text/javascript">

	onStart()

	function onStart(){
		var hasTeam = "{{has_team}}"
		console.log("{{team_id}}")
		if (hasTeam == "True"){
			selectTeam("{{team_id}}")
		}

	}

	function selectTeam(teamId){
		var url = "{% url 'team:individual_team_view' team_id=7347328438423 %}".replace("7347328438423", teamId);
		var win = window.open(url, "_self")
		win.focus()
	}


	
	function showTeams(){
		console.log("showing teams...")
		var div = document.getElementById("individual-team-page")
		div.style.display= "none"
		var div2 = document.getElementById("teams-list")
		div2.style.display = "block"



	}



	function showCreateTeamForm() {
		console.log("createTeamForm...")
		var divTeamInitial = document.getElementById("initial")
		divTeamInitial.style.display = "none"
		var divTeamCreate = document.getElementById("after-initial")
		divTeamCreate.style.display = "block"
		var error = document.getElementById("error-message")
		error.style.display = "none"

	}

	function leaveTeam(userId){
		console.log('leaving team...')
		payload = {
			"csrfmiddlewaretoken": "{{csrf_token}}",
			"user_id": userId,
		}
		$.ajax({
			type: "POST",
			dataType: "json",
			url: "{% url 'team:leave_team' %}",
			data: payload,
			timeout: 5000,
			success: function(response){
				console.log('success')
				if (response.team_is_deleted)
					location.href = "{% url 'team:user_team_view' %}" // ezen a viewn mindegy lenne hogyha csak reloadolnank, mivel azonban az individual team viewon ha csak sima reloadot tolunk amikor a csapat törlésre kerül, httpresponse csapat nem talaltat fogunk kapni, hiszen a csapat oldalara vinne vissza, ami nem letezik
				else{
					location.reload()
				}
			},	
			error: function(response){
				console.log('error at ajax team_page')
			},

		})
	}




</script>

{% endblock %}