{% extends 'base_new.html' %}

{% load static %}

{% block content %}
<style>
	#game{
		background-color: white;
	}
</style>

<div id="game">
	<p>Gamek</p>
	<!--<a href="{% url 'game:easy_game' %}">Könnyű játék</a>-->
	<div id="easy-4">Könnyű 4x4</div>
	<div id="easy-5">Könnyű 5x4</div>
	<div id="easy-6">Könnyű 6x6</div>

	<br>
	<div id="second-2">Puzzle 2x2</div>
	<div id="second-3">Puzzle 3x3</div>
	<div id="second-4">Puzzle 4x4</div>
	<div id="second-5">Puzzle 5x5</div>



	<br>
	<a href="{% url 'game:hard_game' %}">Nehéz játék</a>
</div>

<script>
	$("#easy-4").click(function(){
		startEasyGame(4)
	})

	$("#easy-5").click(function(){
		startEasyGame(5)
	})

	$("#easy-6").click(function(){
		startEasyGame(6)
	})

	$("#second-2").click(function(){
		startSecondGame(2)
	})

	$("#second-3").click(function(){
		startSecondGame(3)
	})

	$("#second-4").click(function(){
		startSecondGame(4)
	})

	$("#second-5").click(function(){
		startSecondGame(5)
	})


	function startEasyGame(gameFieldSize){
		var url = "{% url 'game:easy_game' %}?jatek_tabla_meret=" + gameFieldSize 
		var win = window.location.replace(url) 
		win.focus()
	}

	function startSecondGame(gameFieldSize){
		var url = "{% url 'game:medium_game' %}?jatek_tabla_meret=" + gameFieldSize 
		var win = window.location.replace(url) 
		win.focus()
	}
</script>


{% endblock %}