{% extends 'base_new.html' %}

{% load static %}

{% block content %}
<style>
@font-face {
	font-family: 'Kanit-Regular';
	src: local('Kanit-Regular'),
	url("{% static 'fonts/Kanit-Regular.ttf' %}");
}

@font-face {
	font-family: 'Kanit-Bold';
	src: local('Kanit-Bold'),
	url("{% static 'fonts/Kanit-Bold.ttf' %}");
}

@font-face {
	font-family: 'Kanit-Light';
	src: local('Kanit-Light'),
	url("{% static 'fonts/Kanit-Light.ttf' %}");
}

#game-hub-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	background-color: white;
	background: url("{% static 'images/brown-texture.jpg' %}");	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Kanit-Regular";
	font-size: 1.8vh;
	user-select: none;
	max-width: 1900px;

}

#game-hub-header{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 14%;
}

#game-hub-container{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 72%;
}

#game-types{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100%;
}

.game-option{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 33.3%;
	height: 100%;
}

.game-details-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 100%;
}

.detail-1, .detail-2, .detail-3{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	gap: 1em;
}

.detail-1 {
	height: 40%;

}

.detail-2 {
	height: 40%;
}

.detail-3 {
	height: 20%;
}

.game-picture{
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 60%;
	max-height: 60%;
	border-radius: 50%;
	border: 4px solid #c3ad1f;
	box-shadow: rgba(168, 150, 36, 0.25) 0px 14px 28px, rgba(168, 150, 36, 0.22) 0px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0,  0.22) 0px 10px 10px;
	cursor: pointer;
}


.game-picture:hover{
	box-shadow: rgba(168, 150, 36, 0.25) 0px 14px 28px, rgba(168, 150, 36, 0.22) 0px 10px 10px;
	opacity: 0.9;
	/*
	box-shadow: rgba(22, 202, 78, 0.25) 0px 14px 28px, rgba(22, 202, 78, 0.22) 0px 10px 10px;
	border: 4px solid #17ca4e;
	*/

}


.game-title{
	background: url("{% static 'images/button-back.png' %}");	
	background-position: center;
	background-size: cover;
	width: 40%;
	text-align: center;
	box-shadow: rgba(168, 150, 36, 0.25) 0px 14px 28px, rgba(168, 150, 36, 0.22) 0px 10px 10px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0,  0.22) 0px 10px 10px;
	border-radius: 14px;
	font-size: 1.2em;
	padding: 0.1em;
	font-family: "Kanit-Regular";
	cursor: pointer;

}

#game-hub-footer{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 14%;
}



</style>
<div id="game-hub-content">
	<div id="game-hub-header">
		header
	</div>
	<div id="game-hub-container">
		<div id="game-types">
			<div id="first-game-choice" class="game-option">
				<div class="game-details-container">
					<div class="detail-1" id="detail-1-first-game">
						<div class="game-title" id="game-title-first-game">Memória próba</div>
						<img src="{% static 'images/game1.png' %}" alt="memoria-jatek" class="game-picture" id="game-picture-first-game">
					</div>
					<div class="detail-2"></div>
					<div class="detail-3"></div>
				</div>
			</div>
			<div id="second-game-choice" class="game-option">
				<div class="game-details-container">
					<div class="detail-1" id="detail-1-second-game">
						<div class="game-title" id="game-title-second-game">Puzzle Mester</div>
						<img src="{% static 'images/game2.png' %}" alt="puzzle-jatek" class="game-picture" id="game-picture-second-game">
					</div>
					<div class="detail-2"></div>
					<div class="detail-3"></div>
				</div>
			</div>
			<div id="third-game-choice" class="game-option">
				<div class="game-details-container">
					<div class="detail-1" id="detail-1-third-game">
						<div class="game-title" id="game-title-third-game">Aknakereső</div>
						<img src="{% static 'images/game3.png' %}" alt="aknakereso-jatek" class="game-picture" id="game-picture-third-game">
					</div>
					<div class="detail-2"></div>
					<div class="detail-3"></div>
				</div>
			</div>
		</div>	
	</div>
	<div id="game-hub-footer">
		footer
	</div>
</div>

<!--
<div id="easy-4">Könnyű 4x4</div>
<div id="easy-5">Könnyű 5x4</div>
<div id="easy-6">Könnyű 6x6</div>

<div id="second-2">Puzzle 2x2</div>
<div id="second-3">Puzzle 3x3</div>
<div id="second-4">Puzzle 4x4</div>
<div id="second-5">Puzzle 5x5</div>

<div id="third-10">Bombs 10</div>
<div id="third-20">Bombs 20</div>
<div id="third-30">Bombs 30</div>
-->


<script>

	const audio = new Audio()
	audio.src = "{% static 'audios/button_click.mp3' %}"

	$("#game-picture-first-game").on("click", function(){
		setClickedItemGreen(1)
	})

	$("#game-title-first-game").on("click", function(){
		setClickedItemGreen(1)
	})

	$("#game-picture-second-game").on("click", function(){
		setClickedItemGreen(2)
	})

	$("#game-title-second-game").on("click", function(){
		setClickedItemGreen(2)
	})

	$("#game-picture-third-game").on("click", function(){
		setClickedItemGreen(3)
	})

	$("#game-title-third-game").on("click", function(){
		setClickedItemGreen(3)
	})

	function setClickedItemGreen(itemNumber){
		if(itemNumber == 1){
			$("#game-title-first-game").css("background-image", "url('{% static 'images/button-back-green.png' %}')")
			$("#game-picture-first-game").css("box-shadow", "rgba(22, 202, 78, 0.25) 0px 14px 28px, rgba(22, 202, 78, 0.22) 0px 10px 10px")
			
			$("#game-picture-first-game").css("border", "4px solid #17ca4e")
		}
		else if(itemNumber == 2){
			$("#game-title-second-game").css("background-image", "url('{% static 'images/button-back-green.png' %}')")
			$("#game-picture-second-game").css("box-shadow", "rgba(22, 202, 78, 0.25) 0px 14px 28px, rgba(22, 202, 78, 0.22) 0px 10px 10px")
			
			$("#game-picture-second-game").css("border", "4px solid #17ca4e")
		}
		else{
			$("#game-title-third-game").css("background-image", "url('{% static 'images/button-back-green.png' %}')")
			$("#game-picture-third-game").css("box-shadow", "rgba(22, 202, 78, 0.25) 0px 14px 28px, rgba(22, 202, 78, 0.22) 0px 10px 10px")
			
			$("#game-picture-third-game").css("border", "4px solid #17ca4e")
		}


		setColorFromGreen(itemNumber)

		audio.currentTime = 0
		audio.play()

	}


	function setColorFromGreen(itemNumber){
		if(itemNumber == 1){
			$("#game-title-second-game").css("background-image", "url('{% static 'images/button-back.png' %}')")
			$("#game-picture-second-game").css("box-shadow", "rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px")
			
			$("#game-picture-second-game").css("border", "4px solid #c3ad1f")
			$("#game-title-third-game").css("background-image", "url('{% static 'images/button-back.png' %}')")
			$("#game-picture-third-game").css("box-shadow", "rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px")
			
			$("#game-picture-third-game").css("border", "4px solid #c3ad1f")
		}
		else if(itemNumber == 2){
			$("#game-title-first-game").css("background-image", "url('{% static 'images/button-back.png' %}')")
			$("#game-picture-first-game").css("box-shadow", "rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px")
			
			$("#game-picture-first-game").css("border", "4px solid #c3ad1f")
			$("#game-title-third-game").css("background-image", "url('{% static 'images/button-back.png' %}')")
			$("#game-picture-third-game").css("box-shadow", "rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px")
			
			$("#game-picture-third-game").css("border", "4px solid #c3ad1f")
		}
		else{
			$("#game-title-first-game").css("background-image", "url('{% static 'images/button-back.png' %}')")
			$("#game-picture-first-game").css("box-shadow", "rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px")
			
			$("#game-picture-first-game").css("border", "4px solid #c3ad1f")
			$("#game-title-second-game").css("background-image", "url('{% static 'images/button-back.png' %}')")
			$("#game-picture-second-game").css("box-shadow", "rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px")
			
			$("#game-picture-second-game").css("border", "4px solid #c3ad1f")
		}
	}




	$("#easy-4").click(function(){
		startEasyGame(4)
	})

	$("#easy-5").click(function(){
		startEasyGame(5)
	})

	$("#easy-6").click(function(){
		startEasyGame(6)
	})

	$("#second-2").click(function(){
		startSecondGame(2)
	})

	$("#second-3").click(function(){
		startSecondGame(3)
	})

	$("#second-4").click(function(){
		startSecondGame(4)
	})

	$("#second-5").click(function(){
		startSecondGame(5)
	})


	$("#third-10").click(function(){
		startThirdGame(10)
	})

	$("#third-20").click(function(){
		startThirdGame(20)
	})

	$("#third-30").click(function(){
		startThirdGame(30)
	})


	function startEasyGame(gameFieldSize){
		var url = "{% url 'game:easy_game' %}?jatek_tabla_meret=" + gameFieldSize 
		var win = window.location.replace(url) 
		win.focus()
	}

	function startSecondGame(gameFieldSize){
		var url = "{% url 'game:medium_game' %}?jatek_tabla_meret=" + gameFieldSize 
		var win = window.location.replace(url) 
		win.focus()
	}

	function startThirdGame(numberOfBombs){
		var url = "{% url 'game:hard_game' %}?bombak_szama=" + numberOfBombs 
		var win = window.location.replace(url) 
		win.focus()	
	}
</script>


{% endblock %}