{% extends 'base.html' %}

{% load static %}
{% block content %}


<style type="text/css">
.chat-messages {
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 10px;
	background-color: #fff;
	font-size: 0.9em;
	flex-direction: column-reverse;
	position: center;
}

.profile-image {
	width: 33px;
	height: 33px;
	margin-top: 0px;
	margin-bottom: auto;
}

.profile-image:hover{
    cursor: pointer;
}
.username-span:hover{
    cursor: pointer;
}
.username-span{
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}
.msg-p{
    font-weight: 450;
    margin-top: 5px;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
    /* tordeli a hosszu sorokat*/
    white-space: normal;
    -ms-word-break: break-all;
    word-break: break-all;
}
.message-container{
    margin-top: 10px;
    justify-content: start;
}

.errorMessageHidden{
	display: none;
}
.errorMessageExist{
	display: block;
}

</style>





<!-- variables: 3rész: chat-log(chat-messages) az üzenetek megjelenitese, chat-messages-input-container(send-message-textarea-container) a chatszöveg bevitele, 
	id_chat_message_submit (send-message-submit-button)üzenete küldése-->

<!-- CHAT FELÜLET : üzenetek és üzenetküldési area gombbal-->
<div class="main">

{% if debug_mode %}
PUBLIC CHAT oldal:
<!-- if its not debug mode: hide it, amugy jelenjen meg-->
{% endif %}
<span class="{% if not debug_mode %}d-none{% endif %} page-number" id="id_page_number">1</span>

<div id="online-users-id">

</div>
<div id="online-users-name-id">
	
	
</div>
	<div class="d-flex flex-column">
		<div class="d-flex chat-messages" id="chat_messages_id">
			
		</div>
		<div class="d-flex send-message-textarea-container">
			<textarea class="flex-grow-1 send-message-textarea" id="send-message-textarea_id"></textarea>
			<button class="btn btn-primary send-message-submit-button">
				<span id="send-message-submit_id" class="material-icons">send
				</span>
			</button>
		</div>
	</div>
	<div id="errorMessage">
		
	</div>
</div>
<!-- -------------- -->


<script type="text/javascript">

	// Docs : https://javascript.info/websocket

	// WEBSOCKET BEÁLLÍTÁS FOLYAMATA KEZDETE //

	var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";

	if ("{{ debug_mode }}")
		var ws_path = ws_scheme + "://" + window.location.host + "/public_chat/{{room_id}}/"; // fejlesztéshez
	else
		var ws_path = ws_scheme + "://" + window.location.host + ":8001/public_chat/{{room_id}}/"; // élesben

	
	// websocket beállítás
	var public_chat_room_socket = new WebSocket(ws_path)


	// websocket megnyitása
	public_chat_room_socket.onopen = function(event) {
		console.log("Connection successfully created");

	};

	// felhasználó beléptetése az adott szobába miután a socket kapcsolat létrejött
	public_chat_room_socket.addEventListener("open", function(event) {
		if ("{{request.user.is_authenticated}}"){
			public_chat_room_socket.send(JSON.stringify({
				"command": "join",
				"room_id": "{{room_id}}",
			}))
		}
	})

	// bejövő üzeneket kezelése a consumertől
	public_chat_room_socket.onmessage = function(event) {
		console.log("Data received from the server: ", event.data);
		var data = JSON.parse(event.data)


		// üzenet típus ellenőrzése

		if (data.error){ // az error a consumerstől jön ha üres az üzenet
			showEmptyMessageError(data.message)
		}

		if (data.join){
			getPublicChatRoomMessages() // első belépésnél töltse be az első oldal üzenetet
			console.log(data.username, " joined the room")
		}

		if (data.message_type == 0){
			appendChatMessage(data, true, true)
			/*
			var elements = document.getElementsByClassName("d-flex chat-messages")
			for(let e of elements){
				console.log(e)
				let ido = e.getElementById('sentMessagesId')
				ido.innerHTML = 'ido'
			}
			elements.innerHTML = 'idozito'
			
			console.log(data)
			var elements = document.getElementsByClassName("sentMessagesTime")
			for(let e of elements){
				console.log(e)
				e.innerHTML = 'ido'
			}
			
			let result = event.data.includes("sending_time")
			console.log(result)
			if (result){
				var elements = document.getElementsByClassName("sentMessagesTime")
				for(let e of elements){
					console.log(e)
					e.innerHTML = event.data.sendingTime
			}
			}
			*/

		}
		else if (data.message_type == 5){
			setNumberOfOnlineUsers(data.num_of_online_users)
			setNameOfOnlineUsers(data.online_users_name)
		}

		if (data.message_packet){
			console.log("Loading messages")
			handle_load_messages_payload(data.messages, data.load_page_number)
		}

	};


	// hibaüzenetek kiírása
	public_chat_room_socket.onerror = function(event) {
		console.log("Error: ", event.message);
	};


	// websocket bezárása
	public_chat_room_socket.onclose = function(event) {
		if (event.wasClean){
			console.log("Connection closed");
		}
		else {
			console.log("Connection died.");
		}
	};


	// jelenlegi állapota a websocket kapcsolatnak 
	/*
	if (public_chat_room_socket.readyState == WebSocket.OPEN){
		console.log("PublicChatRoomSocket OPEN");
	}
	else if (public_chat_room_socket == WebSocket.CLOSED) {
		console.log("PublicChatRoomSocket CLOSED");
	} 
	else if (public_chat_room_socket == WebSocket.CONNECTING) {
		console.log("PublicChatRoomSocket CONNECTING...");
	} 
	else if (public_chat_room_socket == WebSocket.CLOSING) {
		console.log("PublicChatRoomSocket CLOSING...");
	} 
	*/


	function showEmptyMessageError(message){

		document.getElementById("errorMessage").innerHTML = message

		setTimeout(function(){
			document.getElementById("errorMessage").classList.add('errorMessageHidden');
		}, 1000)
	}


	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //





	// ÜZENET KÜLDÉS KEZDETE //

	document.getElementById("send-message-textarea_id").focus();
	document.getElementById("send-message-textarea_id").onkeyup = function(event) {
		if (event.keyCode == 13 && event.shiftKey){
			// új sor, küldés nélkül, textarea automatikusan kezeli
		}
		else if (event.keyCode == 13 && !event.shiftKey){
			document.getElementById("send-message-submit_id").click();
		}
	}


	document.getElementById("send-message-submit_id").onclick = function(event) {
		var rawInputMessage = document.getElementById("send-message-textarea_id"); 	// html formátum
		var message = rawInputMessage.value;										// a bevitt szöveg

		// üzenet küldése a consumernek, receive_json hívódik meg a consumerben
		// https://www.w3schools.com/js/tryit.asp?filename=tryjson_stringify
		public_chat_room_socket.send(JSON.stringify({
			"command": "send",
			"message": message,
			"room_id": "{{room_id}}",
		}))
		rawInputMessage.value = "";
	}

	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //





	// CHAT ÜZENETEK MEGJELENÍTÉSE KEZDETE //

	function appendChatMessage(data, maintainPosition, isNewMessage){
		userId = data["user_id"]
		usernameReceived = data["username"]
		message_id = data["message_id"]
		message = data["message"]
		profile_image = data["profile_image"]
		sendingTime = data["sending_time"]

		var msg = message + "\n";
		var username = usernameReceived + ": "; 

		createChatMessageElement(userId, username, message_id, msg, profile_image, sendingTime, maintainPosition, isNewMessage);
	}

		// TODO : REWRITE THIS WHOLE THING
	function createChatMessageElement(userId, username, message_id, message, profile_image, sendingTime, maintainPosition, isNewMessage){
		var chatMessage = document.getElementById("chat_messages_id");

		var newMessageDiv = document.createElement("div")
		newMessageDiv.classList.add("d-flex")
		newMessageDiv.classList.add("flex-row")
		newMessageDiv.classList.add("message-container") //css

		var profileImage = document.createElement("img")
		profileImage.addEventListener("click", function(evenet){
			selectUser(userId)
		})
		profileImage.classList.add("profile-image")
		profileImage.classList.add("rounded-circle")
		profileImage.classList.add("img-fluid")
		profileImage.src = "{% static 'images/blank_profile_image.png' %}"
		var profileImageId = "profile_image_id" + message_id 
		profileImage.id = profileImageId
		newMessageDiv.appendChild(profileImage)


		var div1 = document.createElement("div")
		div1.classList.add("d-flex")
		div1.classList.add("flex-column")

		div1.classList.add("all_mess")

		var div2 = document.createElement("div")
		div2.classList.add("d-flex")
		div2.classList.add("flex-row")

		var usernameSpan = document.createElement("span")
		usernameSpan.addEventListener("click", function(evenet){
			selectUser(userId)
		})
		usernameSpan.classList.add('username-span')
		usernameSpan.innerHTML = username
		div2.appendChild(usernameSpan)

		// sending_time hozzáadása

		var sendingTimeSpan = document.createElement("span")

		sendingTimeSpan.innerHTML = sendingTime
		sendingTimeSpan.classList.add("sendingTimeSpanClass")
		sendingTimeSpan.classList.add("d-flex")
		sendingTimeSpan.classList.add("align-items-center")

		sendingTimeSpan.classList.add("sentMessagesTime")


		div2.appendChild(sendingTimeSpan)

		div1.appendChild(div2)

		var msgP = document.createElement("p")
		msgP.innerHTML = message
		msgP.classList.add("msg-p")
		div1.appendChild(msgP)

		newMessageDiv.appendChild(div1)


		if(isNewMessage){
			chatMessage.insertBefore(newMessageDiv, chatMessage.firstChild)
		}
		else {
			chatMessage.appendChild(newMessageDiv)
		}

		if(!maintainPosition){
			chatMessage.scrollTop = chatMessage.scrollHeight
		}

		loadProfilePicture(profile_image, profileImageId) // profile_image az input

	}

	function selectUser(userId){
		var url = "{% url 'profile' user_id=7347328438423 %}".replace("7347328438423", userId);
		var win = window.open(url, "_self")
		win.focus()
	}

	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //





	// CHAT ÜZENETEK BETÖLTÉSE KEZDETE //
	
	var publicChatPageNumber = 1;

	function setPageNumber(pageNumber, loadedAllMessages){ // loadedAllMessages igaz, hogyha betöltötte az összes üzenetet és már nincs mit lekérdezni
		if (loadedAllMessages){
			publicChatPageNumber = -1
		}
		else {
			publicChatPageNumber = pageNumber
		}

		document.getElementById("id_page_number").innerHTML = publicChatPageNumber
		console.log(publicChatPageNumber)
	}



	function getPublicChatRoomMessages(){
		let pageNumber = publicChatPageNumber
		if (pageNumber != -1){
			setPageNumber(-1, false) // a lekérdezés és betöltés folyamatban van
			public_chat_room_socket.send(JSON.stringify({
				"command": "get_public_chat_room_messages",
				"room_id": "{{ room_id }}",
				"page_number": pageNumber
			}))
		}
	}


	// load_messages_payload kezelése
	function handle_load_messages_payload(messages, loadPageNumber) {
		if(messages != null && messages != "undefined" && messages != "None"){
			setPageNumber(loadPageNumber, false)
			messages.forEach(function(message){
				appendChatMessage(message, true, false) // tartsa a pozicíót, nem új üzenet
			})
		}
		else{
			setPageNumber(-1, true)
		}
	}


	// scroll hatására töltse be az újabb üzeneteket ÁTDOLGOZNI
	document.getElementById("chat_messages_id").addEventListener("scroll", function(e){
	var chatMessage = document.getElementById("chat_messages_id")
	chatMessage.addEventListener("scroll", function(e){
		if ((Math.abs(chatMessage.scrollTop) + 2) >= (chatMessage.scrollHeight - chatMessage.offsetHeight)) {
			getPublicChatRoomMessages()
		}
	});
})



	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //


	// ONLINE LÉVŐ FELHASZNÁLÓK SZÁMÁNAK A BEÁLLÍTÁSA //

	function setNumberOfOnlineUsers(num){
		online = document.getElementById("online-users-id")

		online.innerHTML = 'Online lévők száma: ' + num
	}

	function setNameOfOnlineUsers(listOfUsers){
		onlineNames = document.getElementById("online-users-name-id")
		onlineNames.innerHTML = 'Online lévők neve: ' + listOfUsers
	}

	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //



	// ALAPÉRTELMEZETT ÉS AZ IGAZI PROFILKÉP BETÖLTÉSE ASZINKRON MÓDON //

	function setProfilePicture(imageSource, elementId) {
		// beállítja az igazi profilképet
		let image = document.getElementById(elementId)
		image.src = imageSource
	}


	function loadProfilePicture(imageSource, profileImageId){
		// profilkép betöltését indítja el
		var profileImageLoader = new Image()
		profileImageLoader.src = imageSource

		if (!profileImageLoader.complete){
			profileImageLoader.onload = function(){
				// beállítja az alapértelmezett profilképet
				setProfilePicture(profileImageLoader.src, profileImageId)
				profileImageLoader.onload = function(){
					// pass
				}
			}
		}
		else{
			setProfilePicture(profileImageLoader.src, profileImageId)
			profileImageLoader.onload = function() {
				// pass
			}
			}
		}
	
	// <<<-------------------------------------------------->>> //
	// <<<-------------------------------------------------->>> //

</script>



{% endblock %}