{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="main">

	<p>Profile</p>
	{{username}}<br>
	{{ user_id }} <br>
	{{ strength }}<br>
	{{level}}<br>

<!--
	{% if request.user.profile_image %}
		<img src="{{ request.user.profile_image.url }}">
	{% else %}
		<img src="{% static 'images/dummy_image.png' %}">
	{% endif %}
-->
	<img src="{{ profile_image }}">

	{% if is_owner %}
		<p>Tulajdonos</p>
		<a href="{% url 'account:edit' user_id=user_id%}">Módosítás</a>
	{% else %}
		<p>Nem tulajdonos</p>
	{% endif %}
	{{character_type}}
</div>

{% endblock %}