{% extends 'base.html' %}

{% load static %}

{% block content %}


{% include 'private_chat/create_or_return_private_chat_room.html' %}
{% include 'game/attack_choosen_player.html' %}

<div class="main">

	<p>Profile</p>
	{{username}}<br>
	{{ user_id }} <br>
	{{ strength }}<br>
	{{level}}<br>
	{{gold}}<br>

<!--
	{% if request.user.profile_image %}
		<img src="{{ profile_image }}">
	{% else %}
		<img src="{% static 'images/blank_profile_image.png' %}">
	{% endif %}-->
	<img src="{{ profile_image }}">

	{% if is_owner %}
		<p>Tulajdonos</p>
		<a href="{% url 'account:edit' user_id=user_id%}">Módosítás</a>
	{% else %}
		<p>Nem tulajdonos</p>
		<div class="d-flex flex-row align-items-center btn btn-primary m-2 px-4" onclick="createOrReturnPrivateChat('{{user_id}}')">
			<span class="message-btn-text">Message</span>
		</div>
		<p onclick="attackChoosenPlayer('{{user_id}}')">Támadás</p>
	{% endif %}
	{{character_type}}
</div>




{% endblock %}